<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<property name="LOG_HOME" value="/app/log" />
	<property name="APP_NAME" value="common" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>

	<!-- Logger for Business Code -->
	<appender name="commonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${LOG_HOME}/${APP_NAME}/${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_NAME}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<MaxHistory>365</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] - [ %-5level ] [ %logger{50} : %line ] - %msg%n</pattern>
		</layout>
	</appender>

	<!-- hibernate logger -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="error" />    
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="error" />
    <logger name="org.hibernate.SQL" level="info" />
    <logger name="org.hibernate.engine.QueryParameters" level="info" />    
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="error" />
    <logger name="org.hibernate" level="error" />

	<!-- logger root level-->
	<root level="debug">
		<appender-ref ref="stdout" />
		<appender-ref ref="commonAppender" />
	</root>
</configuration> 